---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---


.img_width_200px {
  width: 200px;

  @media (max-width: 37.5em) {
    width: 100%;
  }
}

.img_width_300px {
  width: 300px;

  @media (max-width: 37.5em) {
    width: 100%;
  }
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
